/* Global Styles */

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.page-header {
	border-bottom: 0;
	margin-top: 0;
}

/* Notification Styles */
#flash-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  margin: 0;
}

.alert-box-fixed {
  margin: 0 15px 15px 0;

}

.parent{
    margin: 20px;
}

.navbar {
  background-color: #6AB344;
}

.navbar-inverse .navbar-header .navbar-brand {
    color: #FFFFFF;
}

.nav.navbar-nav li a {
   color: #E3E3E5;
 }

.nav.navbar-nav li a:hover {
 color: #FFFFFF;
}