{{define "footer"}}
<footer>
  <hr>
  <p class="text-center">Доступно на <a href="https://github.com/shpp-android/course-android"
                                         target="_blank">GitHub</a></p>
</footer>
{{end}}