{{if eq .AuthLevel "auth"}}

<ul class="nav navbar-nav navbar-right">
  {{if eq .Rights "admin"}}
  <li><a href="{{.BaseURI}}admin">Admin</a></li>
  {{end}}
  <li><a href="{{.BaseURI}}about">О сайте</a></li>
  <li><a href="{{.BaseURI}}logout">Выход</a></li>
</ul>

{{else}}

<ul class="nav navbar-nav navbar-right">
  <li><a href="{{.BaseURI}}about">О сайте</a></li>
</ul>

{{end}}